services:
  web:
    build: ./app
    container_name: cloud-devops-platform-web
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: cloud-devops-platform-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    restart: always
