services:
  web:
    image: ghcr.io/nikmir15/cloud-devops-platform:latest
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
