name: CI/CD Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            set -e
            APP_DIR=/home/ubuntu/apps/Cloud-Devops-Platform

            if [ ! -d "$APP_DIR/.git" ]; then
              mkdir -p /home/ubuntu/apps
              cd /home/ubuntu/apps
              git clone https://github.com/NikMir15/Cloud-Devops-Platform.git
            fi

            cd $APP_DIR
            git fetch --all
            git reset --hard origin/main

            docker compose down || true
            docker compose up -d --build

            echo " Deployment successful"
            docker ps
