name: CD - Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push image to GHCR
        run: |
          IMAGE="ghcr.io/nikmir15/cloud-devops-platform:latest"
          docker build -t "$IMAGE" ./app
          docker push "$IMAGE"

      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            cd ~
            if [ ! -d cloud-devops-platform ]; then
              git clone https://github.com/NikMir15/Cloud-Devops-Platform.git cloud-devops-platform
            fi
            cd cloud-devops-platform
            git pull origin main
            chmod +x scripts/ec2_deploy.sh
            ./scripts/ec2_deploy.sh
